.about-container {
    background-image: url(https://i.postimg.cc/VNB0cXsQ/istockphoto-1460882118-612x612.jpg);
    background-size: cover;
    background-position: center;
    padding: 20px;
    color: white;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
    border-radius: 8px;
  }
  